## Preprocessing

In [ ]:
# from google.colab import drive
# drive.mount('/gdrive')
# %cd /gdrive

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the county_statisitics.csv.
import pandas as pd 
countyStats_df = pd.read_csv("./Resources/county_statistics.csv")
#application_df = pd.read_csv("/gdrive/MyDrive/21-Deep-Learning/Project/Resources/charity_data.csv")
countyStats_df.head()

,Unnamed: 0,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0

In [2]:
countyStats_df.dropna(inplace=True)
countyStats_df

,Unnamed: 0,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,3106,Yuma,AZ,0.505,0.450,40759.0,20586.0,18336.0,0.523,0.461,...,2.4,1.8,3.0,19.6,74891.0,74.4,20.8,4.6,0.2,10.9
3107,3107,Yuma,CO,0.805,0.150,4664.0,3755.0,701.0,0.826,0.156,...,6.5,0.3,10.5,15.7,4940.0,71.6,15.5,12.4,0.5,2.4
3108,3108,Zapata,TX,0.328,0.656,3134.0,1028.0,2056.0,0.525,0.471,...,4.4,0.6,2.0,18.2,5146.0,66.0,21.0,12.6,0.4,12.4
3109,3109,Zavala,TX,0.204,0.777,3390.0,692.0,2633.0,0.340,0.654,...,2.1,4.2,5.4,13.7,4397.0,73.9,21.2,4.9,0.1,10.1
3110,3110,Ziebach,SD,0.480,0.460,766.0,368.0,352.0,0.446,0.531,...,4.3,3.4,25.9,22.8,967.0,32.1,48.2,18.4,1.3,27.0

In [ ]:
countyStats_df.columns

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
countyStats_df.drop(columns=['Unnamed: 0','state','percentage16_Hillary_Clinton',
       'total_votes16', 'percentage20_Donald_Trump','lat', 'long',
       'percentage20_Joe_Biden', 'total_votes20', 'votes20_Donald_Trump',
       'votes20_Joe_Biden'], inplace =True)
countyStats_df.head()

In [ ]:
# Determine the number of unique values in each column.
#application_df.nunique()

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
#application_df['APPLICATION_TYPE'].value_counts()

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# app_type = application_df['APPLICATION_TYPE'].value_counts()

# x = [app_type[(app_type < 67)] ]
# x = pd.DataFrame(x)
# y = x.columns

# application_types_to_replace = []
# for item in y:
#   application_types_to_replace.append(item)

# application_types_to_replace

In [ ]:
# Replace in dataframe
# for app in application_types_to_replace:
#     application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# # Check to make sure binning was successful
# application_df['APPLICATION_TYPE'].value_counts()

In [ ]:
# Look at CLASSIFICATION value counts for binning
# class_counts = application_df['CLASSIFICATION'].value_counts()
# class_counts

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#class_counts[class_counts > 1]

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Selecting the range to be binned 
# x = [class_counts[(class_counts < 1000)] ]
# x = pd.DataFrame(x)
# y = x.columns

# classifications_to_replace = []
# for item in y:
#   classifications_to_replace.append(item)

# classifications_to_replace

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Replace in dataframe
# for cls in classifications_to_replace:
#     application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# # Check to make sure binning was successful
# application_df['CLASSIFICATION'].value_counts()

In [ ]:
#countyStats_df.dtypes

In [ ]:
# Generate our categorical variable lists
attrition_cat = countyStats_df.dtypes[countyStats_df.dtypes == "object"].index.tolist()
attrition_cat

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(countyStats_df[attrition_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
countyStats_df = countyStats_df.merge(encode_df,left_index=True, right_index=True)
countyStats_df = countyStats_df.drop(attrition_cat,1)
countyStats_df.head()

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies
# countyStats_df = pd.get_dummies(countyStats_df)
# countyStats_df.head()

In [ ]:
# Split our preprocessed data into our features and target arrays
y = countyStats_df['votes16_Donald_Trump'].values
X = countyStats_df.drop(columns=['votes16_Donald_Trump'], axis=1).values

# y = myopia_df.MYOPIC.values
# X = myopia_df.drop(columns="MYOPIC").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Create a callback that saves the model's weights every five epochs
import os 
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs('check_points/', exist_ok=True)
path = 'check_points/weights.{epoch:02d}.hdf5'

cp_callback = ModelCheckpoint(filepath = path, save_weights_only = True, save_freq = 5)

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks= [cp_callback])

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export our model to HDF5 file
from keras.models import load_model
nn.save('AlphabetSoupCharity.h5')

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.DataFrame(fit_model.history)

df.index+=1 

df.plot(y='accuracy')
plt.show()